openapi: 3.1.0
info:
  title: NovaLike API
  version: 0.3.1
  description: API communautaire NovaLike pour connecter GPT, FastAPI et Discord.
servers:
  - url: https://nova.wanalike.com
paths:
  /health:
    get:
      operationId: getNovaLikeHealth
      summary: Vérifie l’état de l’API NovaLike
      responses:
        "200":
          description: API opérationnelle
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /gpt/send-message:
    post:
      operationId: sendDiscordMessage
      summary: Envoie un message dans le salon Discord configuré via NovaLike
      description: Utilise le token configuré dans l’authentification de l’action GPT. Le corps JSON ne doit contenir que le message et éventuellement channel_id.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendDiscordMessageRequest"
      responses:
        "200":
          description: Message ajouté à la queue NovaLike
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendDiscordMessageResponse"
        "401":
          description: Token API invalide
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Token
  schemas:
    HealthResponse:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        queue_size:
          type: integer
      required:
        - name
        - status
        - queue_size
    SendDiscordMessageRequest:
      type: object
      properties:
        message:
          type: string
          description: Message à envoyer sur Discord.
        channel_id:
          type:
            - integer
            - "null"
          description: ID optionnel du salon Discord. Si absent, NovaLike utilise le salon par défaut.
      required:
        - message
    SendDiscordMessageResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        queue_size:
          type: integer
      required:
        - status
        - message
        - queue_size
    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
      required:
        - detail
